* {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-spacing: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
}

header img {
    height: 2.5rem;
    width: 2rem;
    padding: 0.2rem;
    border-radius: 2rem;
    overflow: hidden;
}

header h4 {
    padding: 0.2rem 0rem;
}

.icon {
    display: flex;
   /* padding-top: 2rem;*/
}

.nav {
    padding: 0rem 0.5rem;
    margin: 1rem 0.2rem;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    background: grey;
}

.nav:active {
    background: purple;
}

/*.nav a:active {
    background:purple;
}*/

main {
    margin: 3rem 0rem;
}

#topsection {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contact {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    margin: 3rem 0rem;
    padding: 2em;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.6;
}

.ptitle {
    color: grey;
}

/*.mypic {
    border-radius: 2rem;
}*/

article {
    text-align: center;
    padding: 2em;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 12px;
}

button {
    height: 1.5rem;
    width: 6.5rem;
    margin: 1.5rem;
}

.certs {
    height: 3rem;
}

.divider {
  font-family: "Galada", static;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
